= link_to user_show_path(user.nickname) do
  .side-bar.d-flex.flex-column.align-items-center
    = image_tag user.avatar, class: 'rounded-circle user-img'
    .data
      = user.nickname
      = link_to 'New post', 'posts/new', class: 'btn btn-primary btn-newPost'
      = button_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn-logOut'
