.row.g-0
  .col-md-1
    - if post.user.avatar.persisted?
      = link_to user_show_path(post.user.nickname), class: 'user_link_info' do
        = image_tag post.user.avatar, class: 'rounded-circle user-img-post'
  .col-md-11
    .post-info.div.card
      = link_to user_show_path(post.user.nickname), class: 'user_link_info' do
        = post.user.nickname
        %br
        = post.user.email
        |
        = distance_of_time_in_words(post.published_at, Time.now) + ' ago'
      - if post_links
        = link_to post_path(post), class: 'post_link' do
          = render partial: 'posts/post_elements', locals: { post: post }
      - else
        = render partial: 'posts/post_elements', locals: { post: post }
  .interactions
    .like
      = button_tag 'Like', class: 'btn btn-primary btn-like', data: { liked: @post_liked_by_current_user, likeable_id: post.id, likeable_type: 'Post' }, remote: true
      .likes_count
        = post.likes.count
    = link_to post_path(post, anchor: 'post_comment'), class: 'btn btn-comment btn-primary' do
      Comment
    .comments_count
      = post.comments.count
