.header

.wrapper
  .side-bar.d-flex.flex-column.align-items-center
    = image_tag current_user.avatar, class: 'rounded-circle user-img'
    = current_user.nickname
    = link_to 'New post', 'posts/new', class: 'btn btn-primary btn-newPost'
    = button_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn-logOut'

  .posts-container.d-flex.flex-column
    - if @posts.present?
      %ul
        - @posts.each do |post|
          %li
            = render partial: 'single_post', locals: { post: post}
          %hr
    - else
      .no-posts
        No posts found

