.new-post-container
  %h2 Add a new post
  = form_for @post do |f|
    = render 'errors/error_messages', resource: @post
    .field
      = f.label :title, class: 'form-label mt-2'
      = f.text_field :title, autofocus: true, autocomplete: 'title', class: 'form-control mb-2'
      = render 'errors/error_fields', errors: @post.errors[:title]
    .field
      = f.label :body, class: 'form-label mt-2'
      = f.text_area :body, autofocus: true, autocomplete: 'body', rows: 10, class: 'form-control mb-2'
      = render 'errors/error_fields', errors: @post.errors[:body]
    .field
      = f.label :image, class: 'form-label mt-2'
      = f.file_field :image, accept: 'image/jpeg,image/png', autofocus: true, autocomplete: 'image', class: 'form-control mb-2'
    .actions-create-post
      = f.submit 'Create', class: 'btn btn-primary mt-2 btn-create-post'
