.show-new-post-container.mb-5
  .row.g-0
    .col-md-1
      = image_tag @post.user.avatar, class: 'rounded-circle user-img-post'
    .col-md-11
      .post-info.div.card
        = @post.user.nickname
        %br
        = @post.user.email
        |
        = distance_of_time_in_words(@post.published_at, Time.now)
        .card-body.mt-2
          %h5.card-title
            = @post.title
          %p.card-text.mt-3
            = @post.body
            - if @post.image.present?
              = image_tag @post.image, class: 'post-img mt-2'
