.show-new-post-container.mb-5
  .row.g-0
    .col-md-1
      = image_tag @last_post.user.avatar, class: "rounded-circle user-img-post"
    .col-md-11
      .post-info.div.card
        = @last_post.user.nickname
        %br
        = @last_post.user.email
        |
        = time_since_publication(@last_post)
        .card-body.mt-2
          %h5.card-title
            = @last_post.title
          %p.card-text.mt-3
            = @last_post.body
            - if @last_post.avatar.present?
              = image_tag @last_post.avatar, class: "post-img mt-2"
